<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>537346661491-qioig9q2pa5he7n7qaboja96e9fo8qao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537346661491-qioig9q2pa5he7n7qaboja96e9fo8qao</string>
	<key>API_KEY</key>
	<string>AIzaSyCmlK_R_HVnpR0QP7PqRt1gMCHwjP7SIkA</string>
	<key>GCM_SENDER_ID</key>
	<string>537346661491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jvpc.WeatherForecasting</string>
	<key>PROJECT_ID</key>
	<string>weatherforecasting-83392</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherforecasting-83392.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537346661491:ios:d5d77d8b389949fa</string>
	<key>DATABASE_URL</key>
	<string>https://weatherforecasting-83392.firebaseio.com</string>
</dict>
</plist>